# Puerto del servidor
PORT=4000

# Base de datos PostgreSQL
DATABASE_URL="postgresql://postgres:1234@localhost:5432/ApkExcel?schema=public"
DATABASE_URL="postgresql://neondb_owner:npg_4UpWchZkAqg2@ep-restless-feather-ap3fdmai-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
# Configuración de JWT
JWT_SECRET="apkexcel-super-secret-key-change-this-in-production"
JWT_EXPIRATION="7d"
